.testimonials {
  margin: 50px auto;
}

.testimonials h1 {
  text-align: center;
  font-weight: bold;
  color: #ff9800;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.testimonials h1::after {
  content: "";
  background: #ff9800;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.testimonials .row {
  margin-top: 30px;
}

.col-md-4 {
  margin: 40px auto;
}

.profile {
  padding: 70px 10px 10px;
  background-color: #efefef;
}

.profile img {
  top: -60px;
  position: absolute;
  left: calc(50% -60px);
  border: 10px solid white;
}

.profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #ff9800;
}

.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
