.feature-box {
  box-shadow: 0 1.5rem 4rem rgba($clr-black, 0.15);
  border-radius: 5px;
  height: 32rem;
  width: 100%;

  @include respond(desktop) {
    width: 32.2rem;
  }

  &__img {
    border-radius: 5px 5px 0 0;
    height: 16rem;
    width: 100%;
    object-fit: cover;
  }

  &__text {
    padding: 2.5rem 2.25rem;

    p {
      line-height: 1.4;
    }
  }
}
